In [98]:
# 시각화 0 파일 불러오기

import os

In [104]:
os.listdir('./현대자동차')

['반기보고서 (2018.06)현대자동차연결 손익계산서.csv',
 '반기보고서 (2018.06)현대자동차연결 재무상태표.csv',
 '반기보고서 (2018.06)현대자동차연결 포괄손익계산서.csv',
 '반기보고서 (2019.06)현대자동차연결 손익계산서.csv',
 '반기보고서 (2019.06)현대자동차연결 재무상태표.csv',
 '반기보고서 (2019.06)현대자동차연결 포괄손익계산서.csv',
 '반기보고서 (2020.06)현대자동차연결 손익계산서.csv',
 '반기보고서 (2020.06)현대자동차연결 재무상태표.csv',
 '반기보고서 (2020.06)현대자동차연결 포괄손익계산서.csv',
 '분기보고서 (2018.09)현대자동차연결 손익계산서.csv',
 '분기보고서 (2018.09)현대자동차연결 재무상태표.csv',
 '분기보고서 (2018.09)현대자동차연결 포괄손익계산서.csv',
 '분기보고서 (2019.03)현대자동차연결 손익계산서.csv',
 '분기보고서 (2019.03)현대자동차연결 재무상태표.csv',
 '분기보고서 (2019.03)현대자동차연결 포괄손익계산서.csv',
 '분기보고서 (2019.09)현대자동차연결 손익계산서.csv',
 '분기보고서 (2019.09)현대자동차연결 재무상태표.csv',
 '분기보고서 (2019.09)현대자동차연결 포괄손익계산서.csv',
 '분기보고서 (2020.03)현대자동차연결 손익계산서.csv',
 '분기보고서 (2020.03)현대자동차연결 재무상태표.csv',
 '분기보고서 (2020.03)현대자동차연결 포괄손익계산서.csv',
 '분기보고서 (2020.09)현대자동차연결 손익계산서.csv',
 '분기보고서 (2020.09)현대자동차연결 재무상태표.csv',
 '분기보고서 (2020.09)현대자동차연결 포괄손익계산서.csv',
 '사업보고서 (2018.12)현대자동차연결 손익계산서.csv',
 '사업보고서 (2018.12)현대자동차연결 재무상태표.csv',
 '사업보고서 (2018.12)현대자동차연결 포괄손익계산서.csv',
 '사업보고서 (2019.12)현대자동차연결 손익계산서.csv',
 '사업보고서 (2019.12)현대자동차연결 재무상태표.csv',
 '사업보고서 (2019.12)현대자동차연결 포괄손익계산서.csv']

In [105]:
import pandas as pd

In [127]:
df = pd.read_csv('./현대자동차/반기보고서 (2018.06)현대자동차연결 손익계산서.csv', encoding = 'euc-kr')
df.head()

   Unnamed: 0          제 51 기 반기 Unnamed: 2 제 50 기 반기 Unnamed: 4
0           0      NaN       3개월         누적       3개월         누적
1           1      매출액  24711802   47148363  24308002   47673961
2           2     매출원가  20785311   39754359  19581166   38653822
3           3    매출총이익   3926491    7394004   4726836    9020139
4           4  판매비와관리비   2975674    5761896   3382366    6424908

In [123]:
df_boolean = df == '매출액'

C:\Users\allma\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [124]:
'h' in 'hello'

True

In [125]:
df_boolean.sum(axis = 0)

Unnamed: 0    0
              1
제 51 기 반기     0
Unnamed: 2    0
제 50 기 반기     0
Unnamed: 4    0
dtype: int64

In [126]:
df_boolean.sum(axis = 1)

0     0
1     1
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
dtype: int64

In [128]:
sum(df_boolean.sum(axis = 0))

1

In [129]:
df_boolean.sum(axis = 1)[1]

1

In [130]:
import numpy as np

In [131]:
np.argmax(df_boolean.sum(axis = 1))

1

In [132]:
np.argmax(df_boolean.sum(axis = 0))

1

In [133]:
df_boolean.sum(axis = 1).values

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0], dtype=int64)

In [134]:
df_boolean.sum(axis = 0).values

array([0, 1, 0, 0, 0, 0], dtype=int64)

In [138]:
df_boolean.sum(axis = 0).values.argmax()

1

In [136]:
df.iloc[1,1]

'매출액'

In [137]:
df.iloc[1,2]

'24711802'

In [10]:
list1 = [1,2,3]

In [11]:
1 in list1

True

In [8]:
name = '이성재'

In [9]:
'이' in name

True